* {
  margin: 0;
}

.app {
  background-color: #fafafa;
  padding-bottom: 100px;
}

.app__login {
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: center;
  padding: 20px;
  background-color: white;
  border: 1px solid lightgray;
}

.app__loginHome {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  background-color: white;
  border: 1px solid lightgray;
}

.app__upload {
  width: 600px;
  background-color: white;
  border: 1px solid lightgray;
  text-align: center;
  margin: 0 auto;
}

.app__headerImage {
  object-fit: contain;
}

.app__headerRight {
  display: flex;
  align-items: center;
}

.app__headerRight > p {
  margin-right: 5px;
}

.app__headerAvatar {
  height: 30px !important;
  width: 30px !important;
}

.app__header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  padding: 20px;
  background-color: #ffffff;
  border-bottom: 1px solid lightgray;
  margin-bottom: 10px;
}

.app__posts {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 10px 30px;
}

.app__postsRight {
  margin-left: 10px;
}
