.imageupload {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.imageupload > .MuiAvatar-root {
  width: 50px;
  height: 50px;
  font-size: 26px;
}

.imageupload__container {
  display: flex;
  width: 70%;
  flex-direction: column;
  margin: 0 auto;
}

.imageupload__progress {
  width: 100%;
}

.imageupload__bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.imageupload__button {
  margin: 10px;
  height: 30px;
}

.imageupload__bottom > label {
  cursor: pointer;
  color: #444;
  font-weight: bold;
}
.imageupload__bottom > label:hover {
  color: #000;
}

#imageupload__selectFile {
  display: none;
}
